body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
nav {
    background-color: white;
    color: black;
    padding: 10px 0;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    max-height: 40px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header, section, footer {
    background-color: black;
    padding:20px 0;
}
.mypic{
    max-width: 350px;
    max-height: 350px;
}

img {
    max-width: 350px;
    height: 350px;
}

ul {
    list-style: none;
    padding: 0;
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: white;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 80%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 40%;
    animation-delay: 0.2s;
}
.skill-per.python{
    width: 70%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    background: black;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 3px;
    width: 3px;
    z-index: -1;
    background-color: white;
    transform: translateX(-50%) rotate(45deg);

}
.project-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 20px;
}

.slide img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project-images {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.project-images img {
    max-width: 50vw;
    height: 50vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.project-info {
    color: white;
    padding: 10px;
}
#certificates {
    padding: 20px 0;
}

.certificate-images {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.certificate {
    text-align: center;
    margin-right: 20px;
}

.certificate img {
    max-width: 50vw;
    height: 50vh;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.certificate p {
    margin-top: 5px;
    font-weight: bold;
}
.button{
    background-color: white; 
    color: black;
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 10px;
}
footer {
    text-align: center;
}
  